/*
COLORS


FONTS
font-family: ff-real-text-pro,sans-serif;
font-weight: 200;
font-style: normal;

font-family: ff-real-text-pro,sans-serif;
font-weight: 200;
font-style: italic;

font-family: droid-sans-mono,monospace;
font-weight: 400;
font-style: normal;

    font-family: adobe-handwriting-tiffany, sans-serif;
    font-weight: 400;
    font-style: normal;

    font-family: ff-real-headline-pro, sans-serif;
    font-weight: 700;
    font-style: normal;

    font-family: ff-tisa-web-pro,serif;
font-weight: 400;
font-style: normal;
Newest Colors
#ff6e5d
#a02799
#03c9ec
#2d2d2d
color: rgb(45, 45, 45);

naText = annotation styles

 */



body {
    margin: 0;
    font-family: ff-tisa-web-pro, serif;
    font-weight: 200;
    font-style: normal;
    font-weight: 200;
    font-style: normal;
    font-size: 1.125rem;
    line-height: 1.6;
    color: rgb(45, 45, 45);
    /* color: rgb(218, 218, 218); */
    border-top: 24px solid #000;
    background: rgb(239, 239, 239);
    /* background: rgb(33, 33, 33); */
    /* background: rgb(72, 72, 72); */
    /* background: rgb(68, 68, 68); */
    /*  background: rgb(170, 167, 165); -- nice grey */

}

h1,
h2,
h3,
h4,
h5 {
    font-family: ff-real-headline-pro, sans-serif;
    font-weight: 700;
    font-style: normal;
    margin: 0;
    line-height: 1.3;
    text-align: center;
    letter-spacing: 1px;
}

h2 {
    font-size: 2rem;
}


h3 {
    font-size: 1.7rem;
}

h4 {
    font-size: 1.4;
    margin-top: 3rem;
}

a:link,
a:visited {
    color: #03c9ec;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: rgb(169, 0, 0);
}

a span {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 0.85rem;
}



#wrapper {
    width: 1152px;
    margin: auto;
    display: grid;
}


/* ----------------
STYLE THE HEADER
------------------------------------------ */

/* section#header {
    background-color: black;
    width: 100%;
    height: 50%;
    margin-top: 0;
} */

/* section#header #introText {
    width: 80%;
    margin: auto;
} */

/* The hero image */
section#header {
    /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("/images/poyheader.png"); 
    https://dpd28.github.io/poy/images/poyheader.png */
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("https://dpd28.github.io/poy/images/poyheader.png");

    /* Set a specific height */
    height: 80vh;
    width: 100vw;

    /* Position and center the image to scale nicely on all screens */
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    /* Add border to the bottom */
    border-bottom: 24px solid #000;
}

/* Place text in the middle of the image */
section#header #introText {
    width: 70%;
    text-align: center;
    position: relative;
    top: 0%;
    left: 0%;
    transform: translate(18%, 90%);
    color: white;
    /* background-color: RGBA(0, 0, 0, 1); */
    padding: 1rem;
    /* margin: auto; */
}

section#header h1 {
    text-transform: uppercase;
    font-size: 5em;
    line-height: 1.0;
    text-align: center;
    vertical-align: center;
    color: #F5F2F0;
    margin-top: 0;
    margin-bottom: 0;
}

section#header h2 {
    font-family: ff-real-text-pro, sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 1.5rem;
    text-transform: none;
    padding-top: 1rem;
}

/* ----------------
STYLE THE SECTIONS
------------------------------------------ */

section#intro {
    margin: 2.5rem 0;
}

section.chapter {
    grid-template-columns: 1fr;
    /* margin-top: 3rem; */
}

/* 
section.chapter:before {
    /* background-image: url("/images/1x/male.png");
    content: "--";
    display: block;
    height: 50px;
    pointer-events: none;
    background-position-x: 50%;
    background-repeat: no-repeat;
    background-size: 10%;
    margin: 0 auto;
    margin-bottom: 0px;
    width: 25%;
} */

svg#gendericns {
    display: block;
    width: 100%;
    height: 35px;
    margin: 0;
    padding: 0;
}

/* ----------------
TEXT SECTIONS + STYLES
------------------------------------------ */

p.byline {
    text-transform: uppercase;
    letter-spacing: 1px;
}

p.kicker-label {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 0.925rem;
}


div.text {
    width: 700px;
    margin: auto;
    padding: 1rem 2.5rem;
    position: relative;
}

div.quote {
    display: block;
    width: 70%;
    background: url('/images/LeftQuote.png');
    background-position: 10 0;
    background-repeat: no-repeat;
    background-size: 90px;
    padding: 50px;
    margin-top: 75px;
    margin-bottom: 75px;
    position: relative;
    left: -150px;
}


div.quote p {
    margin: 0 0 0 60px;
    font-size: 1.7rem;
    /* color: #e1e1e1; */
    color: #2d2d2d;
    text-transform: uppercase;
    font-family: ff-real-headline-pro, sans-serif;
    font-weight: 700;
    font-style: normal;
    letter-spacing: 1.5px;
}

div.quote p span {
    /* color: #03c9ec; */
    color: #47bedb;
}

div.quote p.attribution {
    text-transform: none;
    letter-spacing: 0px;
    text-align: right;
    font-size: 0.9rem;
    margin-top: 1rem;
    font-family: ff-real-text-pro, sans-serif;
    font-weight: 200;
    font-style: normal;
}

/* --------
Style the Image Captions
---- */
section#gallery .galItem1 figcaption,
section#gallery .galItem2 figcaption {
    font-family: droid-sans-mono, monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 0.75rem;
}

/* add a rule above the caption */
section#gallery .galItem1 figcaption::before,
section#gallery .galItem2 figcaption::before {
    content: "-"

}


section#gallery .galItem1 figcaption {
    position: absolute;
    top: 300px;
    left: -120px;
    bottom: 40px;
    right: 100px;
    width: 175px;
}

section#gallery .galItem2 figcaption {
    position: absolute;
    top: 300px;
    left: 1175px;
    bottom: 40px;
    right: 0px;
    width: 175px;
}

p.disclaimer {
    font-size: 0.8rem;
    font-style: italic;
    line-height: 1.5;
    color: #000;
    background-color: rgb(245, 245, 245);
    padding: 2rem;
    margin-top: 2rem;
    border: 1px solid rgb(230, 230, 230);
}

/* --- Style and position the side notes --*/
aside {
    position: absolute;
    width: 250px;
    font-size: 0.75rem;
    color: #004dac;
}

aside.left {
    margin-left: -32vw;
    top: 60%;
}

aside.right {
    margin-right: -22vw;
}

blockquote {
    font-style: italic;
    border-left: 5px solid #03c9ec;
    padding-left: 30px;
}

/* ----------------
IMAGE STYLES
------------------------------------------ */

section#gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 25px;
    padding: 2rem 0 2rem 0;
    position: relative;
}

/* .galItem1 img,
.galItem2 img {
    border: 1px solid red;
} */

section#gallery .galItem1 {
    justify-self: end;
}

section#gallery .galItem2 {
    justify-self: start;
}


/* ----------------
CHART SECTIONS
------------------------------------------ */

div.chart {
    padding: 1rem 0 2.5rem 0;
    display: grid;
    /* margin: auto; */
}

/* Gender Charts */
div.chart.jury figure#genderJuryLine,
div.chart.jury figure#genderJuryStack,
div.chart.photogs figure#genderPhotogsLine,
div.chart.photogs figure#genderPhotogsStack,
div.chart.freelance figure#freelancegenderline,
div.chart.freelance figure#freelancegenderstack {
    width: 530px;
}

div.chart.jury,
div.chart.photogs,
div.chart.freelancegender {
    grid-template-columns: 1fr 1fr;
}

div.chart.orgs,
div.chart.orgmultiples,
div.chart.freelancetotal {
    grid-template-columns: 1fr;
}

/* Style the chart explainers and notes */
div.chart.jury .chartExplainer,
div.chart.jury .chartNotes,
div.chart.photogs .chartExplainer,
div.chart.photogs .chartNotes,
div.chart.freelancegender .chartExplainer,
div.chart.freelancegender .chartNotes,
div.chart.orgs .chartExplainer,
div.chart.orgs .chartNotes,
div.chart.orgmultiples .chartExplainer,
div.chart.orgmultiples .chartNotes,
div.chart.freelancetotal .chartExplainer,
div.chart.freelancetotal .chartNotes {
    grid-column: span 2;
    width: 700px;
    margin: auto;
}

/* Modify the chart description */
div.chart.jury .chartNotes p,
div.chart.jury figure p,
div.chart.photogs .chartNotes p,
div.chart.photogs figure p,
div.chart.freelancegender .chartNotes p,
div.chart.freelancegender figure p,
div.chart.freelancetotal .chartNotes p,
div.chart.freelancetotal figure p,
div.chart.orgmultiples .chartNotes p,
div.chart.orgmultiples figure p {
    font-size: 0.85rem;
    color: rgb(45, 45, 45);
}

/* -- May not be using this. Check HTML --*/
div.chart.jury .cat1,
div.chart.jury .cat2 {
    grid-template-columns: 60px 60px;
    text-transform: uppercase;
    font-size: 0.675rem;
    letter-spacing: 1px;
    margin: 0;
}

figure h3 {
    line-height: 0.5;
}


/* ----------------
Director STYLES
------------------------------------------ */

.chart.admin {
    justify-content: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(7, 225px);
    padding-bottom: 0;
}

.chart.admin .directors-left,
.chart.admin .directors-right {
    position: relative;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 1fr 1fr;
    /* grid-template-rows: repeat(2, 125px); */
}

.chart.admin .directors-left a,
.chart.admin .directors-right a {
    display: grid;
}

.chart.admin .directors-left img,
.chart.admin .directors-right img {
    width: 115px;
    border-radius: 50%;
}


.chart.admin .directors-left img {
    justify-self: end;
}

.chart.admin .directors-right img {
    justify-self: start;
}

.chart.admin .directors-left div.name {
    padding-left: 1rem;
    justify-self: start;
}

.chart.admin .directors-right div.name {
    padding-right: 1rem;
    justify-self: end;
}

.chart.admin .directors-left .name>p,
.chart.admin .directors-right .name>p {
    margin: 0;
    padding-top: 1.5rem;
}

.chart.admin .directors-left .rule,
.chart.admin .directors-right .rule {
    grid-column: span 2;
}

/* center the rule */
.chart.admin .directors-left .rule>svg,
.chart.admin .directors-right .rule>svg {
    display: block;
    margin: auto;
}

/* ----------------
Directors hover styles - Delete this css version 
-----------*

/* hide the short directors bio */
a:hover+div.dinfo {
    display: block;
    align-items: center;
}

/* -- position the directors bios in increments - right side */
div.dinfo.right {
    width: 200px;
    display: none;
    position: absolute;
    top: 3%;
    right: 22%;
    background-color: rgb(255, 255, 255);
    padding: 1rem;
}

div.dinfo.left {
    width: 200px;
    display: none;
    position: absolute;
    top: 3%;
    left: 22%;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(232, 232, 232);
    padding: 1rem;
}

div.dinfo.right p,
div.dinfo.left p {
    font-size: 0.9rem;
}

/* ----------------
NPOY and (soon) MPOY timeline of images
----------------------------------------- */

section#newspaper .chartExplainer {
    width: 700px;
    margin: auto;
}

.npoylabels p.label1 {
    grid-area: label1;
    text-align: right;
}

.npoylabels p.label2 {
    grid-area: label2;
    text-align: left;
}

.npoylabels p {
    font-size: 0.7rem;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.npoylabels {
    font-family: droid-sans-mono, monospace;
    font-weight: 400;
    font-style: normal;
    padding-top: 1rem;
    padding-bottom: 0.7rem;
    display: grid;
    grid-template-columns: 1fr 100px 100px 100px 1fr;
    grid-template-areas: ". label1 . label2 .";
}

div.npoy {
    display: grid;
    grid-template-columns: 1fr 100px 100px 100px 1fr;
    grid-template-rows: auto;
    margin: auto;
    padding-top: 0.7rem;
    position: relative;
    font-family: droid-sans-mono, monospace;
    font-weight: 400;
    font-style: normal;
}

div.npoy .years {
    width: 100px;
    grid-column-start: 3;
    align-self: center;
    position: relative;
}

div.npoy .years p {
    text-align: center;
    font-size: 0.7rem;
}

div.npoy .years p.first::before {
    content: '';
    position: absolute;
    width: 1px;
    background: #2d2d2d;
    height: 39px;
    top: -30px;
    left: 50%;
    z-index: 1;
}

/* div.npoy .years p.first::after {
    content: '';
    position: absolute;
    width: 1px;
    background: #2d2d2d;
    height: 10px;
    top: 0%;
    left: 50%;
    z-index: 1;
} */

div.npoy .years p::after {
    content: '';
    position: absolute;
    width: 1px;
    background: #2d2d2d;
    height: 48px;
    top: 79%;
    left: 50%;
    z-index: 1;
}

/* -- position the male winner thumbnail images */
div.npoy .winner.right {
    grid-column-start: 4;
}

div.npoy .winner.right img {
    grid-column-start: 4;
    padding-top: 10px;
}

/* position the female winner thumbnail images */
div.npoy .winner.left1 {
    grid-column-start: 2;
    grid-row-start: 7;
    justify-self: end;
}

div.npoy .winner.left2 {
    grid-column-start: 2;
    grid-row-start: 11;
    justify-self: end;
}

div.npoy .winner.left3 {
    grid-column-start: 2;
    grid-row-start: 12;
    justify-self: end;
}

div.npoy .winner.left4 {
    grid-column-start: 2;
    grid-row-start: 18;
    justify-self: end;
}

div.npoy .winner.left3 img {
    align-items: center;
}

/* hide the large images */
a:hover+div.lrg {
    display: block;
    align-items: center;
    /* opacity: 1; */
}

div.lrg p {
    font-size: 0.7rem;
}

/* -- position the larger right images in increments */
div.lrg.right1 {
    display: none;
    position: absolute;
    top: 0%;
    right: 17%;
}

/* opacity: 0;
    -webkit-transition: opacity 1s ease;
    -moz-transition: opacity 1s ease;
    -ms-transition: opacity 1s ease;
    -o-transition: opacity 1s ease;
    transition: opacity 1s ease; */

div.lrg.right2 {
    display: none;
    position: absolute;
    top: 3%;
    right: 17%;
}

div.lrg.right3 {
    display: none;
    position: absolute;
    top: 6%;
    right: 17%;
}

div.lrg.right4 {
    display: none;
    position: absolute;
    top: 6%;
    right: 17%;
}

div.lrg.right5 {
    display: none;
    position: absolute;
    top: 9%;
    right: 17%;
}

div.lrg.right6 {
    display: none;
    position: absolute;
    top: 12%;
    right: 17%;
}

/* position the larger left images in increments */
div.lrg.lefta {
    display: none;
    position: absolute;
    top: 30%;
    left: 17%;
}

div.lrg.right7 {
    display: none;
    position: absolute;
    top: 30%;
    right: 17%;
}

div.lrg.right8 {
    display: none;
    position: absolute;
    top: 35%;
    right: 17%;
}

div.lrg.leftb {
    display: none;
    position: absolute;
    top: 52%;
    left: 17%;
}

div.lrg.leftc {
    display: none;
    position: absolute;
    top: 52%;
    left: 17%;
}

div.lrg.leftd {
    display: none;
    position: absolute;
    top: 85%;
    left: 17%;
}

div.lrg.right9 {
    display: none;
    position: absolute;
    top: 45%;
    right: 17%;
}

div.lrg.right10 {
    display: none;
    position: absolute;
    top: 60%;
    right: 17%;
}

div.lrg.right11 {
    display: none;
    position: absolute;
    top: 65%;
    right: 17%;
}

div.lrg.right12 {
    display: none;
    position: absolute;
    top: 70%;
    right: 17%;
}

div.lrg.right13 {
    display: none;
    position: absolute;
    top: 75%;
    right: 17%;
}

div.lrg.right14 {
    display: none;
    position: absolute;
    top: 80%;
    right: 17%;
}

div.lrg.right15 {
    display: none;
    position: absolute;
    top: 85%;
    right: 17%;
}


/* ----------------
CHART STYLES
------------------------------------------ */
/* increase the size of the labels on the axis */
figure .axis_text {
    font-family: droid-sans-mono, monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
    color: #2d2d2d;
}

.x_axis text,
.y_axis text {
    font-family: droid-sans-mono, monospace;
    fill: #2d2d2d;
}

/* ----------------
Style the gridlines
---------------- */
.x_axis line,
.y_axis line,
.x-axis line {
    stroke: #2d2d2d;
    opacity: 0.2;
}

.x_axis path,
.y_axis path {
    stroke: #2d2d2d;
}

/* ----- remove the exterior overlapping d3 funk paths ----- */
/* figure#orgTotalAwards .x_axis path  */
figure#genderJuryLine .x_axis path,
figure#genderPhotogsLine .x_axis path,
figure#freelancegenderline .x_axis path,
figure#orgTotalAwards .x_axis path,
figure#freelance .x-axis path {
    stroke-width: 0;
}


.xlabel,
.ylabel {
    font-size: 0.725rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #2d2d2d;
}

/* -- style the annotation labels and lines --- */
.naText,
.genderText {
    font-size: 0.6rem;
    font-family: droid-sans-mono, monospace;
    font-weight: 400;
    font-style: normal;
}

/* ----------------
FOOTER + METHODOLOGY SECTIONS
------------------------------------------ */
footer {
    border-top: 1px solid #000;
    padding: 1rem 0 1rem 0;
    margin-top: 5rem;
    margin-bottom: 3rem;
}

footer div.methodology p {
    font-size: 0.7em;
    /* color: rgb(201, 201, 201); */
    color: rgb(45, 45, 45);
}